<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.usc.reach.myquituscnew" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.usc.reach.myquituscnew.MyQuitHomeScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.usc.reach.myquituscnew.MyQuitPlans"
            android:label="@string/title_activity_my_quit_plans"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.usc.reach.myquituscnew.MyQuitCalendar"
            android:label="@string/title_activity_my_quit_calendar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.usc.reach.myquituscnew.MyQuitPrePlanCalendar"
            android:label="@string/title_activity_my_quit_pre_plan_calendar"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.usc.reach.myquituscnew.MyQuitProgress"
            android:label="@string/title_activity_my_quit_progress"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name="edu.usc.reach.myquituscnew.MyQuitProgressNew"
            android:label="@string/title_activity_my_quit_progress"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name="edu.usc.reach.myquituscnew.MyQuitTasksActivity"
            android:label="@string/title_activity_my_quit_tasks"
            android:screenOrientation="portrait" >
        </activity>

        <receiver
            android:name="edu.usc.reach.myquituscnew.MyQuitReceiver"
            android:enabled="true"
            android:exported="false" >
        </receiver>

        <service
            android:name="edu.usc.reach.myquituscnew.MyQuitService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <activity
            android:name="edu.usc.reach.myquituscnew.MyQuitEMA"
            android:label="@string/title_activity_my_quit_em"
            android:screenOrientation="portrait" >
        </activity>

        <receiver
            android:name="edu.usc.reach.myquituscnew.MyQuitOnBootBroadcastReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <activity
            android:name="edu.usc.reach.myquituscnew.MyQuitLoginActivity"
            android:label="@string/title_activity_my_quit_login"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="edu.usc.reach.myquituscnew.MyQuitIntentPrompt"
            android:label="@string/title_activity_my_quit_intent_prompt"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.usc.reach.myquituscnew.MyQuitPrePlanArray"
            android:label="@string/title_activity_my_quit_pre_plan_array"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.usc.reach.myquituscnew.MyQuitNewPlans"
            android:label="@string/title_activity_my_quit_new_plans"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.usc.reach.myquituscnew.DatabaseHelpers.MyQuitAdmin"
            android:label="@string/title_activity_my_quit_admin" >
        </activity>

        <provider
            android:name="edu.usc.reach.myquituscnew.DatabaseHelpers.MyQuitContentProvider"
            android:authorities="edu.usc.reach.myquituscnew.provider"
            android:enabled="false"
            android:exported="true" >
        </provider>
    </application>

</manifest>
