<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.usc.reach.myquitusc" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MyQuitHomeScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyQuitPlans"
            android:label="@string/title_activity_my_quit_plans" >
        </activity>
        <activity
            android:name=".MyQuitCalendar"
            android:label="@string/title_activity_my_quit_calendar" >
        </activity>
        <activity
            android:name=".MyQuitPrePlanCalendar"
            android:label="@string/title_activity_my_quit_pre_plan_calendar" >
        </activity>
        <activity
            android:name=".MyQuitProgress"
            android:label="@string/title_activity_my_quit_progress" >
        </activity>
        <activity
            android:name=".MyQuitTasksActivity"
            android:label="@string/title_activity_my_quit_tasks" >
        </activity>

        <receiver
            android:name=".MyQuitReceiver"
            android:enabled="true"
            android:exported="false" >
        </receiver>

        <service
            android:name=".MyQuitService"
            android:enabled="true"
            android:exported="false" >
        </service>
    </application>

</manifest>
